# Two Roles in Large Projects

- **Application Developer** - Builds the logic for the application, the look and feel of the application - monitors the application for problems
- **Database Administrator** - Monitors and adjusts the database as the program runs in production
- Often both people participate in building the "Data model"


## Database Adminisrator (dba)

A database administrator (DBA) is a person responsible for the design, implementation, maintenance, and repair of an organization's database. The role includes the development and design of database strategies, monitoring and improving database performance and capacity, and planning for future expansion requirements. They may also plan, coordinate, and implement security measures to safeguard the database.

# Database Model

A **database model** or **database schema** is the **structure or format of a database**, described in a formal language supported by the database management system. I other words, a "database model" is the application of a data model when used in conjunction with a database management system.

# Common Database Systems

- Three Major Database Management Systems in wide use
    - **Oracle** - Large, commercial, enterprise-scale, very very tweakable
    - **MySql** - Simpler but very fast and scalable - commercial open source
    - **SqlServer** - Very nice - from Microsoft (also Access)
- Many other smaller projects, free and open source
    - HSQL, SQLite, Postgress, ...

# SQLite browser

- SQLite is a very popular database - it is free and fast and small
- SQLite Browser allows us to directly manipulate SQLite files

## Start Simple - A Single Table

In [ ]:
CREATE TABLE Users(
	name VARCHAR(128),
	email VARCHAR(128)
)

Putting data into the table we just created. The table is called "Users" and it has 2 variables: name and email. For each of these variables you can put up to 128 characters. We manually inserted 4 records into the table using SQLite browser. We can insert more records using the user interface.

## SQL Insert

- The insert statement inserts a row into a table

In [ ]:
INSERT INTO Users(name, email) VALUES ('Kristin', 'kf@umich.edu')

## SQL Delete

- Deletes a row in a table based on a selection criteria

In [ ]:
DELETE FROM Users WHERE email = 'fred@umich.edu'

## SQL Update

- Allows the updating of a field with a where clause

In [ ]:
UPDATE Users SET name = 'Charles' WHERE email = 'csev@umich.edu'

## Retrieving Records: Select

- The select statement retrieves a group of records - you can either retrieve all the records or a subset of the records with a WHERE clause.

In [ ]:
SELECT * FROM Users
SELECT * FROM Users WHERE email = 'csev@umich.edu'

## Sorting with ORDER BY

- You can add an ORDER BY clause to SELECT statements to get the results sorted in ascending or descending order

In [ ]:
SELECT * FROM Users ORDER BY name
SELECT * FROM Users ORDER BY email

# SQL Summary

CREATE TABLE Users(name VARCHAR(128), email VARCHAR(128))

INSERT INTO Users(name, email) VALUES ('Kristin', 'kf@umich.edu') - Insert new records into the table

DELETE FROM Users WHERE email = 'fred@umich.edu' - Delete the row(s) in the table where the email is 'fred@umich.edu'

UPDATE Users SET name = 'Charles' WHERE email = 'csev@umich.edu' - It updates the value in the name column for the row(s) where the email is csev@umich.edu

SELECT * FROM Users - Retrieves all the rows and columns from the table users

SELECT * FROM Users WHERE email = 'csev@umich.edu' - Retrieves all the rows and columns from the table users where the email is csev@umich.edu

SELECT * FROM Users ORDER BY name - Retrieves all the rows and columns from the table users and orders them in descending order by name

SELECT * FROM Users ORDER BY email - Retrieves all the rows and columns from the table users