# Relational Power

- By removing the replicated data and replacing it with references to a single copy of each bit of data we build a "web" of information that the relational database can read through very quickly - even for very large amounts of data.

- Often when you want some data it comes from a number of tables linked by these foreign keys.


## The JOIN Operation in SQL

- The JOIN operation links across several tables as part of a select operation
- You must tell the JOIN how to use the keys that make the connection between the tables using an ON clause

SELECT Album.title, Artist.name FROM Album join Artist ON Album.artist_id = Artist.id

In the code above we are trying to connect the album and the artist:
- What we want to see: Album.title, Artist.name
- The tables that hold the data: Album, Artist
- How the tables are linked: Album.artist_id = Artist_id

SELECT Album.title, Album.artist_id, Artist.id, Artist.name FROM Album join Artist ON Album.artist_id = Artist.id

In the code above:
- What we want to see: Album.title, Album.artist_id, Artist.id, Artist.name
- The tables that hold the data: Album, Artist
- How the tables are linked: Album.artist_id = Artist_id

With the next query we'll try to connect the Track's title and the Genre's name:

SELECT Track.title, Genre.name FROM Track join Genre ON Track.genre_id = Genre.id

- What we want to see: Track.title, Genre.name
- The tables that hold the data: Track, Genre
- How the tables are linked: Track.genre_id = Genre.id

## Removing ON Clause
- If you remove the ON clause, you get all combinations of all the data
- Joining two tables without an ON clause gives all possible combinations of rows.

SELECT Track.title, Track.genre_id, Genre.id, Genre.name FROM Track join Genre

## It can get complex...

SELECT Track.title, Artist.name, Album.title, Genre.name
FROM Track join Genre join Album join Artist
ON Track.genre_id = Genre.id 
AND Track.album_id = Album.id
AND Album.artist_id = Artist.id

- What we want to see: Track.title, Artist.name, Album.title, Genre.name
- The tables that hold the data: Track, Genre, Album, Artist
- How the tables are linked: Track.genre_id = Genre.id and Track_album_id = Album.id and Album.artist_id = Artist.id